
<!---------------Style---------------->
<style type="text/css">
  .orange-fade {
   /* background: #fff;
   
    background: linear-gradient(135deg,#fff 0,#fff 100%);*/
     background-image: url("/BG Texture.png");
}
.pos-r {
    position: relative!important;
}
.white {
    background: #fff;
}
.text-white {
    color: #fff!important;
}
.text-gray {
    color: #363636;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #ffc53a;
}
.one-slide {
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 300px;
}
.one-slide img {
  width: 60%;
}
.carousel-controls .control {
  position: absolute;
  cursor: pointer;
  top: 56.4%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  c
}
.prev {
  left: -1.875rem;
}
.next {
  right: -1.875rem;
}
.testimonial-carousel { 
  &.slick-initialized { 
    display: block; 
  }
 .message {
    width: 100%;
    font-size: .9rem;
  }
  .brand {
    width: 100%;
  }
  @media (max-width: 575px) {
    .one-slide {
      height: 200px;
    }
    img {
        width: 40%;
      }
  }
}
</style>
<!------------Script--------------------->
<script type="text/javascript">
  $(document).ready(function() {
  $(".testimonial-carousel").slick({
  infinite: !0,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: !1,
  arrows:true,
  prevArrow: $(".testimonial-carousel-controls .prev"),
  nextArrow: $(".testimonial-carousel-controls .next"),
  responsive: [{
    breakpoint: 1200,
    settings: {
      slidesToShow: 3
    }
  }, {
    breakpoint: 992,
    settings: {
      slidesToShow: 2
    }
  }, {
    breakpoint: 600,
    settings: {
      slidesToShow: 1
    }
  }]
  });
});
</script>


<section class="orange-fade p-5 margin-top-xl pos-r" >
  <div class="container">
    <div class="row">
    <div class="col-sm-12">
      
        <p></p>
       <div class="mt-5 pos-r">
          <div class="carousel-controls testimonial-carousel-controls">
            <div class="control prev"><i class="fa fa-chevron-left text-white">&nbsp;</i></div>
            <div class="control next"><i class="fa fa-chevron-right text-white">&nbsp;</i></div>
          </div>
          <div class="testimonial-carousel">
            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/breakfast"><img alt="Digital Breakfast" src="breakfastp.png" class="mx-auto"/><img alt="Digital Breakfast" src="Breakfast 1.png" class="mx-auto"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray">Description....</div>
              </div>
            </div>
            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/launch"><img alt="Digital launch" src="launchp.png" class="mx-auto"/><img alt="Digital launch" src="Lunch1.png" class="mx-auto"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray">Description....</div>
              </div>
            </div>
            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/snack"><img alt="Digital Snack" src="JWC2.png" class="mx-auto"/><img alt="Digital Snack" src="Lunck Break .png" class="mx-auto"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray">Description....</div>
              </div>
            </div>
             <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/store"><img alt="Digital Storage" src="storage_03.png" class="mx-auto"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray">Description....</div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>